<header class="header">
    <div class="container usual-wrapper">
        <div class="header__inner nav-line">
            <a class="logo" href="/top">
                <img src="../../images/svg/B2Broker_logo.svg" class="header__logo"/>
            </a>
            <ul class="nav">

                <li class="nav__item js-anchor menu-item menu-item-type-custom menu-item-object-custom">
                    <a class=nav__item__link href="/benefits">
                        Benefits
                    </a>
                </li>
                <li class="nav__item js-anchor menu-item menu-item-type-custom menu-item-object-custom">
                    <a class=nav__item__link href="/features">
                        Features
                    </a>
                </li>
                <li class="nav__item js-anchor menu-item benefitsmenu-item-type-custom menu-item-object-custom">
                    <a class=nav__item__link href="/proxy">
                        Proxy
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
