<div class="section main-screen aos-init aos-animate" data-aos="fade-in">
    <div class="container main-screen__inner">
        <div class="main-screen__text aos-init aos-animate" data-aos="fade-up">
            <h2 class="title">Top Title</h2>
            <div class="subtitle">Top Subtitle</div>
        </div>
        <div class="main-screen__form">
            <img src="../../images/svg-inline/buble.svg" class="buble-big" />
            <img src="../../images/svg-inline/buble-little.svg" class="buble-little" />
        </div>
    </div>
</div>
